.chatRoom{
    max-width: 650px;
    width: 100%;
}

.chatRoomControlls{
    display: flex;
    justify-content: center;
    background-color: white;
    padding: 2rem;
    border-bottom-right-radius: 1em;
    border-bottom-left-radius: 1em;
}

.sendButton{
    display: flex;
    align-items: center;
    border-radius: 4em;
    background-color: #3BA58A;
    color: white;
    padding: 1rem;
    border: none;
    cursor: pointer;
    margin-left: 1rem;
    transition: background-color 0.2s ease;
}

.sendButton:hover{
    background-color: #4ed6b4;
}

.emojiIcon{
    cursor: pointer;
}

.chatRoomControllsInput{
    display: flex;
    align-items: center;
    padding: 0 1.4rem 0 1.4rem;
    background-color: whitesmoke;
    border-radius: 4em;
    padding-right: 1rem;
}

.chatRoomControllsInput input{
    outline: none;
    border: none;
    background-color: transparent;
    font-size: 1rem;
    padding: 15px;
}

.chatRoomMessages{
    border-top-left-radius: 1em;
    display: flex;
    flex-direction: column;
    height: 60vh;
    background-color: white;
    color: #363636;
    overflow: scroll;
    overflow-x: hidden;
    padding: 2rem;
}
.chatRoomMessages::-webkit-scrollbar-track
{
  background-color: #ebebeb;
}

.chatRoomMessages::-webkit-scrollbar
{
  width: 8px;
  background-color: #F5F5F5;
}

.chatRoomMessages::-webkit-scrollbar-thumb
{
  background-color: #50426E;
}

.chatRoomButtons{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    align-items: center;
}

.message{
    font-size: 0.9rem;
    display: flex;
    align-items: center;
}

.message img{
    padding: 5px;
    height: 50px;
    border-radius: 100%;
}

.message p{
    word-wrap: break-word;
    max-width: 300px;
    margin: 10px;
}

.sent{
    flex-direction: row-reverse;
    margin-left: auto;
    color: white;
}

.sent p{
    border-radius: 1em;
    border-top-right-radius: 0;
    padding: 12px;
    background-color: #50426E;
}

.recived p{
    padding: 12px;
    background-color: #F6F3F7;
    border-radius: 1em;
    border-top-left-radius: 0;
}

.chatRoomControllsInput span{
    margin-left: 5px;
    font-size: 0.8rem;
}

.counterIncorrect{
    color: red;
}

.counterCorrect{
    color: black;
}