.SignIn {
    height: 80vh;
    width: 100%;
    display: grid;
    place-items: center;
}

.SignIn div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}