body{
  background-color: #1a1a1a;
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
}

.App {
  margin-top: 5vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}